* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.body-frame {
  margin-top: 65px; }

.nav .navbar {
  width: 100%;
  position: fixed;
  top: 0; }

.items {
  width: 100%;
  margin: 20px auto;
  columns: 6;
  column-gap: 20px;
  position: flex; }

.items .item {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid; }

.items .item img {
  max-width: 100%;
  border-radius: 15px; }

@media (max-width: 1200px) {
  .items {
    width: calc(100% - 40px); } }

.logo {
  width: 40px;
  height: 23px; }

.nav .search {
  width: 60rem;
  max-width: 100%; }
