<div class="card" style="width: 18rem;">
  <img src="/image/cheems.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cheems is here</h5>
    <p class="card-text">Shiba inu, shiba nguu</p>
    <a href="#" class="btn btn-primary">More</a>
  </div>
</div>