<div id="nav">
    <ul class="nav-tabs">
        <li>
            <i class="fa-solid fa-house"></i>
            <a href="#home"></a>Home
        </li>
        <li><a href="#about"></a>About</li>
        <li><a href="#category"></a>Category</li>
        <li><a href="#setting"></a>Setting</li>
        <li><a href="#login"></a>Log in</li>

    </ul>
</div>